.cards {
  display: grid;
  row-gap: 2rem;

  @media (min-width:64rem) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  box-shadow: 2px 2px 5px #aaa;
  text-decoration: none;
  color: inherit;
  display: block;

  .card_img {
    height: 10rem;
    width: 100%;
    border: transparent solid 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  .card_badge {
    background-color: $color-tertiary;
    color: ($color-tertiary, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  .card_footer {
    justify-content: space-between;
  }
}

  .card_like {
    .fa-heart {
      position: relative;
    }

    .fa-heart:hover {
      transition: opacity 200ms ease-in-out;
    }

    .fa-heart:hover::after {
      opacity: 0;
    }

    .fa-heart:hover::before {
      opacity: 1;
    }

    .fa-heart::after {
      opacity: 1;
      font-weight: 100;
      align-self: center;
      transition: opacity 400ms ease-in;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ""
    }

    .fa-heart::before {
      opacity: 0;
      background: linear-gradient(#9356DC, #FF79DA);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: opacity 400ms ease-out;
      font-weight: 600;
    }
  }


