.card_footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #353535;

  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem;


  }

  &_logo {
    object-fit: scale-down;

    img {
      color: white;
    }
  }

  &_list {

    list-style: none;
    padding: 0;
    margin: 0;
  }

  &_listElement {
    margin: 0.5rem 0;
  }

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &_icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}