header {

  #logo-omf {
    text-align: center;
    background-color: white;
    font-size: 1rem;
  }

  background-color: $light-gray;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    margin: 1rem 1.5rem;
  }
}


