a {
    background-color: gray;
}

.localisation {
    background-color: #F3F3F3;
}

.hero {
    background-color: #FAFAFA;
}

.hero a bouton {
    background-color: #F182DE;
}

#restaurants {
    background-color: #F3F3F3;
}

footer {
    background-color: #353535;
}