body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h3 {
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
}

button {
  background-image: linear-gradient(to top, rgba(96, 37, 197, 0.93), 10%, rgba(247, 128, 252, 0.82));
  color: white;
  padding: 1rem;
  padding-inline: 4rem;
  border-radius: 4rem;
  font-weight: bold;
  cursor: pointer;
}

.btn_order {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: auto;
}

.card_footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.footer_logo {
  object-fit: scale-down;
}
.footer_logo img {
  color: white;
}
.footer_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_listElement {
  margin: 0.5rem 0;
}
.footer_link {
  color: white;
  text-decoration: none;
}
.footer_link:hover {
  text-decoration: underline;
}
.footer_icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

header {
  text-align: center;
  background-color: rgb(246, 245, 245);
}
header .logo img {
  background-color: white;
  font-size: 1rem;
  max-width: 50%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
header h1 {
  text-align: center;
}
header p {
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  margin: 1rem 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card .card_img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card .card_badge {
  background-color: #8dd0bf;
  color: #8dd0bf, 50%;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card .card_footer {
  justify-content: space-between;
}

.menu_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.menu_title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 75px;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8dd0bf;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.cross .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.menu_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_img img {
  object-fit: fill;
  width: 100%;
  height: 250px;
}

.main_menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.menu_title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 5px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 7rem;
}
.meals:hover .cross {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.last_line {
  display: flex;
  justify-content: space-between;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8dd0bf;
  width: 50px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 223, 223);
  font-size: 1.3rem;
  border-top: rgb(246, 245, 245);
  border-top-style: solid;
}

.hero {
  text-align: center;
  background-color: rgb(246, 245, 245);
}

.tuto .tuto_step {
  padding: 1.5rem;
  margin: 1.5rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}

/*# sourceMappingURL=style.css.map */
