@keyframes menuAppearance {
  from {
    transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader_item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader_itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader_item_1 {
  background-color: #9356DC;
}
.loader_item_2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader_item_3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.localisation {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 223, 223);
  font-size: 1.1rem;
  font-weight: 400;
  border-top: rgb(246, 245, 245);
  border-top-style: solid;
  padding: 11px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}
.localisation i {
  position: relative;
  right: 25px;
}

.hero {
  text-align: center;
  background-color: rgb(246, 245, 245);
  padding: 2rem;
  padding-bottom: 3rem;
}

.tuto {
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 25px;
}
@media (min-width: 64rem) {
  .tuto_steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.tuto_step {
  padding: 1.4rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  position: relative;
  cursor: pointer;
}
.tuto_step:hover {
  background-color: #E5CDEE;
}
.tuto_step:hover i {
  color: #9356DC;
}

.tuto_step_icon {
  margin-right: 1rem;
  margin-left: 1rem;
  color: #7e7e7e;
}

.tuto_step_content {
  font-weight: 500;
}

.tuto_step_number {
  z-index: 1;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}

.restaurants {
  background-color: rgb(246, 245, 245);
  padding-top: 3rem;
}

.restaurants .container {
  margin: 20px;
}

body, html {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  padding: 1rem;
}

h4 {
  font-weight: 600;
}

button {
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  padding-inline: 4rem;
  border-radius: 100px;
  cursor: pointer;
  padding: 13px 20px;
  border: 0;
  font-size: 13px;
  font-weight: 500;
}
button:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.btn_order {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: auto;
}

.card_footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.footer_logo {
  object-fit: scale-down;
}
.footer_logo img {
  color: white;
}
.footer_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_listElement {
  margin: 0.5rem 0;
}
.footer_link {
  color: white;
  text-decoration: none;
}
.footer_link:hover {
  text-decoration: underline;
}
.footer_icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

header {
  text-align: center;
  background-color: rgb(246, 245, 245);
}
header .logo {
  background-color: white;
  padding: 15px;
  text-align: center;
}
header .logo img {
  background-color: white;
  font-size: 1rem;
  max-width: 50%;
  max-height: 32rem;
  #width: 100%;
  object-fit: cover;
}
header h1 {
  text-align: center;
  font-size: 25px;
}
header p {
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  padding-bottom: 5px;
}

.cards {
  display: grid;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  box-shadow: 2px 2px 5px #aaa;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card .card_img {
  height: 10rem;
  width: 100%;
  border: transparent solid 0;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card .card_badge {
  background-color: #99E2D0;
  color: #99E2D0, 50%;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card .card_footer {
  justify-content: space-between;
}

.card_like .fa-heart {
  position: relative;
}
.card_like .fa-heart:hover {
  transition: opacity 200ms ease-in-out;
}
.card_like .fa-heart:hover::after {
  opacity: 0;
}
.card_like .fa-heart:hover::before {
  opacity: 1;
}
.card_like .fa-heart::after {
  opacity: 1;
  font-weight: 100;
  align-self: center;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\f004";
}
.card_like .fa-heart::before {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}

.menu_header {
  display: flex;
  justify-content: center;
  background-color: white;
}
.menu_header .arrow {
  font-size: 17px;
  margin: 20px;
  position: absolute;
  left: 10px;
}
.menu_header :visited {
  color: black;
}

.header_img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}

.main_menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.starter {
  animation: menuAppearance 1s ease-in-out;
}

.dish_title {
  animation: menuAppearance 1.1s ease-in-out;
}

.meals {
  animation: menuAppearance 1.2s ease-in-out;
}

.menu_title {
  font-family: "Shrikhand", "cursive";
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 10px;
}

.line {
  border-style: solid;
  border-color: #99E2D0;
  width: 10%;
  margin-left: 1rem;
  position: relative;
  bottom: 2rem;
}

.full_menu {
  display: grid;
}
@media (min-width: 64rem) {
  .full_menu {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

.meals {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  transition: padding-right 450ms ease-in-out;
}
.meals:hover {
  padding-right: 7rem;
}
.meals:hover .check {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover .fa-check-circle {
  transform: rotate(360deg);
}

.last_line {
  display: flex;
  justify-content: space-between;
}
.last_line p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 300;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 90px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.check .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
