button {
  background-image: $bg-button;
  color: white;
  padding-inline: 4rem;
  border-radius: 4rem;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 30px;
}

.btn_order {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: auto;
}

