.localisation {
  display: flex;
  justify-content: center;
  background-color: $dark-gray;
  font-size: 1.3rem;
  border-top: $light-gray;
  border-top-style: solid;
  padding: 11px;
}

.hero {
  text-align: center;
  background-color: $light-gray;
  padding: 2rem;
  padding-bottom: 3rem;
}


.tuto {

  &_step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
  }

  &_step_number {
    z-index: 1;
    background-color: $color-primary;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: -0.75rem;
  }

  &_step_content {
    font-weight: bold;
    .tuto_icon {
      margin-right: 3rem;
      margin-left: 2rem;
      color: #7e7e7e;
      font-size: 20px;
    }
  }
}

