$font-primary : 'Roboto';

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #8dd0bf;
$light-gray: rgb(246, 245, 245);
$dark-gray: rgb(224, 223, 223);
$gradient: rgba(201, 39, 180, 0.76);