$font-primary : 'Roboto';
// Ajouter SKRIKLAND
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$light-gray: rgb(246, 245, 245);
$dark-gray: rgb(224, 223, 223);
$gradient: rgba(201, 39, 180, 0.76);
$bg-button: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);